.botao1{
    display: flex;
    border-color: black;
    border-style: solid;
    border-top: .1rem;
    border-bottom: .1rem;
    flex-direction: row;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h1{
    font-weight: bold;
    font-size: 5rem;
}

.avatar{
    width: 5rem;
    height: 5rem;
}

.estrela{
    width: 2rem;
    height: 2rem;
}