
.botao1{
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: .1rem;
    border-left: .1rem;
    border-right: .1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 8rem;
}

.botao2{
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: .1rem;
    border-left: .1rem;
    border-right: .1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    height: 8rem;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto1{
    font-size: 3rem;
}

.texto2{
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
}

.texto3{
    padding: 1.2rem;
}

.texto4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto5{
    font-size: 2.5rem;
}

.footerS{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 16rem;
}

.aceitar{
    font-size: 3.5rem;
    padding: 2rem 4rem;
    background-color: rgb(14, 233, 17);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 3rem;
}

.recusar{
    font-size: 3.5rem;
    font-size: 3.5rem;
    padding: 2rem 4rem;
    background-color: rgb(231, 14, 14);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 3rem;
}

.ok{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-size: 3.5rem;
    padding: 2rem 4rem;
    background-color: rgb(64, 144, 229);
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin: 12rem;
}

.voltar{
    position: fixed;
    bottom: 94rem;
    right: 52rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.branco{
    color: white;
}

.headerS{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.headerI{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: .1rem solid black;
    border-top: .1rem;
    border-right: .1rem;
    border-left: .1rem;
}

.footerI{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: .1rem solid black;
    border-bottom: .1rem;
    border-right: .1rem;
    border-left: .1rem;
}

.headerS3{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

h1{
    font-size: 4rem;
}

.avatar{
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-self: flex-start;
}

.estrela{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-self: flex-end;
}

.estrela_av{
    display: flex;
    flex-direction: row;
}

.navbar-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-cabecalho li{
    margin: 1rem 1.5rem;
}

.nome-app{
    text-align: center;
    margin: 1rem;
}

.img-nav-cab{
    width: 3rem;
    height: auto;
    margin-right: 9rem;
}

.icon-link {
    display: block;
    position: relative;
    width: 30px; /* Largura do ícone */
    height: 30px; /* Altura do ícone */
    top: 0; /* Posição vertical em relação à área clicável */
    left: 0; /* Posição horizontal em relação à área clicável */
    z-index: 1; /* Certifica-se de que o ícone está acima da imagem de fundo */
    background-image: url(img\iconmapa1.png); /* URL do ícone */
    background-size: contain;
    background-repeat: no-repeat;
}


.imgI{
    display: flex;
    width: 4.5rem;
    height: 4.5rem;
}